#player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.js-video-container {
  width: 100%;
  height: 100%;
}

.player-controls {
  background-color: black;
}

.control-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.control-icon {
  color: white;
}