#player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.player-controls {
  background-color: black;
  display: flex;
}

.control-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 50px;
  margin: 4.4px;
}

.space{
    flex-grow: 1;
}

.control-icon {
  color: white;
  font-size: 19px;
}