#player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.video-container {
  flex-grow: 1;
}

.player-controls {
  background-color: black;
  display: flex;
}

.control-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 40px;
  margin: 4.4px;
}

.space{
    flex-grow: 1;
}

.control-icon {
  color: white;
  font-size: 19px;
}

.video-timer {
  color: white;
  display: flex;
  align-items: center;
}

.progress-bar{
  flex-grow: 1;
  height: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.progress-slider {
    background-color: red;
    height: 100%;
    width: 0%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.circle {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: -2px;
  margin-left: -5px;
}